* text=auto eol=lf

*.svg text eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.pdf binary
*.gz binary
*.zip binary
