.codeBlock {
  --ifm-pre-background: var(--prism-background-color);
  --jazz-type-link-hover-background: color-mix(in srgb, currentcolor 9%, transparent);
  --jazz-type-link-focus-background: color-mix(in srgb, currentcolor 14%, transparent);
  margin: 0;
  padding: 0;
}

.codeBlockLines {
  font: inherit;
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
}

.codeBlockLinesWithNumbering {
  display: table;
  padding: var(--ifm-pre-padding) 0;
}

@media print {
  .codeBlockLines {
    white-space: pre-wrap;
  }
}
